.custom-footer {
    margin-top: auto;
    background-color: var(--primary-color) !important;
    color: var(--text-light);
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
}

.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}

.custom-footer a {
    text-decoration: none;
    color: var(--text-light);
    font-weight: bold;
    transition: var(--transition);
}

.custom-footer a:hover {
    color: #4db8ff;
}

.footer-right a {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
    font-size: 1.5rem;
    color: #333;
    transition: all 0.3s ease;
}

.footer-right a:hover {
    background-color: #007bff;
    color: white;
}