<div id="wrapper">
    <app-navbar-acordion style="display: inline-block;"></app-navbar-acordion>
    <div class="d-flex flex-column" id="content-wrapper">
        <app-navbarbusqueda [modo]="'link'"></app-navbarbusqueda>
        <div class="content-area flex-grow-1 p-3">
            <div class="section-title text-center">
                <h2 class="display-5 fw-bold" data-trad="offers.title">Tus ofertas</h2>
                <p class="text-muted">Publica tus vacantes y encuentra candidatos altamente calificados en pocos minutos.</p>
            </div>
            <app-oferta-card-empresa></app-oferta-card-empresa>
        </div>
        <app-footer class="mt-auto"></app-footer>  
    </div>
</div>



