<div class="content-wrapper">
    <div style="flex: 1;">
        <div *ngIf="ofertasPaginadas.length > 0" class="offer-container">
            <div *ngFor="let oferta of ofertasPaginadas" class="card" (click)="abrirModal(oferta)">
                <div class="favorite-icon">
                    <i class="far fa-heart"></i>
                </div>
                <div class="applied-icon" *ngIf="estadoPostulado(oferta.id)">
                    <i class="fas fa-check-circle"></i>
                    <span data-trad="offers.applied">Postulado</span>
                </div>
                <div class="offer-content">
                    <h3>{{oferta.titulo}}</h3>
                    <div class="job-company">{{oferta.empresa.nombre}}</div>
                    <div class="job-location">{{oferta?.ubicacion}}</div>

                    <div class="job-tags">
                        <span class="salary">{{oferta?.salario.toLocaleString('es-CO')}}</span>
                        <span class="fulltime">{{oferta?.tipo_Empleo}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagination">
    <button [disabled]="page === 1" (click)="cambiarPagina(page - 1)">
        « Anterior
    </button>

    <span>Página {{page}}</span>

    <button [disabled]="page * pageSize >= ofertas.length" (click)="cambiarPagina(page + 1)">
        Siguiente »
    </button>
</div>



<!-- Modal que se mostrará al hacer clic en una tarjeta -->
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-header-info">
                <h3 id="modal-title">{{ofertaSeleccionada?.titulo}}</h3>
                <div class="modal-info-item" id="modal-empresa" style="padding: 0%;"><Strong>Empresa:
                    </Strong>{{ofertaSeleccionada?.empresa.nombre}}</div>
            </div>
            <span (click)="cerrarModal()" class="close-btn" id="close-btn">&times;</span>
        </div>
        <div class="modal-body">
            <section class="preview-section">
                <h3>Información del empleo</h3>
                <!-- salario -->
                <div class="preview-block">
                    <label class="preview-label">
                        <i class="fas fa-wallet"></i> Sueldo
                    </label>

                    <div class="preview-chip success">
                        ✔ {{ ofertaSeleccionada?.salario?.toLocaleString('es-CO') }} {{ ofertaSeleccionada?.moneda }}
                    </div>
                </div>
                <!-- Tipo de empleo -->
                <div class="preview-block">
                    <label class="preview-label">
                        <i class="fas fa-briefcase"></i> Tipo de empleo
                    </label>

                    <div class="preview-chip-group">
                        <div class="preview-chip neutral">{{ this.tipo_Contrato }}</div>
                        <div class="preview-chip neutral">{{ this.Tipo_empleo }}</div>
                        <div class="preview-chip neutral">{{ ofertaSeleccionada?.modalidad }}</div>
                    </div>
                </div>
                <!-- Ubicación -->
                <div class="preview-block">
                    <label class="preview-label">
                        <i class="fas fa-map-marker-alt"></i> Ubicación
                    </label>

                    <p class="preview-text">{{ ofertaSeleccionada?.ubicacion }}</p>
                </div>
                <hr />
            </section>
            <div class="contenedorDescripcion">
                <h4>Descripción</h4>
                <p id="modal-description">{{ofertaSeleccionada?.descripcion}}</p>
            </div>

            <h4>Aptitudes relacionadas con el empleo</h4>
            <div style="margin-bottom: 20px;">
                <div class="preview-chip neutral" *ngFor="let hab of ofertaSeleccionada?.habilidades">{{
                    hab.habilidad.nombre || 'sin competencias' }}</div>
            </div>
            <hr />
            <div class="Requerimientos">
                <h4 data-trad="offer.requirements">Requerimientos</h4>
                <ul>
                    <li>
                        <div class="modal-info-item" id="modal-experience"><strong>Experiencia:</strong>{{experiencia}}
                        </div>
                    </li>
                    <li>
                        <div class="modal-info-item" id="modal-studyLevel"><strong>Nivel de
                                estudio:</strong>{{ofertaSeleccionada?.nivel_Educacion}}</div>
                    </li>
                    <li>
                        <div class="modal-info-item" id="modal-sector">
                            <strong>Sector:</strong>{{ofertaSeleccionada?.sector_oferta}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="!estadoPostulado(ofertaSeleccionada?.id)" class="apply-btn-modal" id="postularseBtn"
                (click)="postularse(ofertaSeleccionada?.id)">Postularse</button>
            <button *ngIf="estadoPostulado(ofertaSeleccionada?.id)" class="btn-postulado" disabled>
                <i class="fas fa-check-circle"></i> Ya estás postulado
            </button>
        </div>
    </div>
</div>